.modal {
	display: grid;
	place-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
}

.content {
	position: relative;
	padding: 16px;
	width: 500px;
	height: 300px;
	border-radius: 8px;
	overflow: hidden;
	background-color: #111;
}

.content .close-button {
	position: absolute;
	top: 16px;
	right: 16px;
	padding: 0;
	background-color: transparent;
}

.close-button svg {
	width: 24px;
	height: 24px;
	transform: rotate(45deg);
	transition: transform 200ms;
}

.close-button:hover svg {
	transform: rotate(135deg);
}
